<h1>Overdue Reservations</h1>

<ol>
<% @reservations.each do |reservation| %>
  <li><%= link_to(reservation.book.title, reservation.book) %> <%= pluralize((Time.now.to_date - reservation.due_on.to_date).to_i, 'day') %> overdue</li>
<% end %>
</ol>